@model IList<Expense>
@{
    ViewData["Title"] = "Approve Expenses";
}
<h1>@ViewBag.Title</h1>
@if (!Model.Any()) {
    <p class="lead">There are no expenses to approve.</p>
} else {
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="w-25">User</th>
                <th class="w-50">Purpose</th>
                <th class="w-auto">Amount</th>
                <th class="w-25">Time (UTC)</th>
                <th class="w-auto">Status</th>
                <th class="w-auto">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.OrderByDescending(e => e.CreatedDate))
            {
                <tr>
                    <td>@expense.CreatedUserDisplayName</td>
                    <td>@expense.Purpose</td>
                    <td>@expense.Amount.ToString("c")</td>
                    <td>@expense.CreatedDate.ToString("g")</td>
                    <td>@(expense.IsApproved ? "Approved" : "Submitted")</td>
                    <td>
                        @if (!expense.IsApproved)
                        {
                            <form asp-controller="Expenses" asp-action="Approve">
                                <input type="hidden" name="Id" value="@expense.Id">
                                <input type="hidden" name="Amount" value="@expense.Amount">
                                <input type="hidden" name="Purpose" value="@expense.Purpose">
                                <button type="submit" class="btn btn-success">Approve</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}